<header>

<div class="logo">
    <i class="fa-solid fa-headset"></i>
    Help Desk
</div>

<nav>
    <a href="#"><i class="fa-solid fa-house"></i> Dashboard</a>
    <a href="#"><i class="fa-solid fa-ticket"></i> Chamados</a>
    <a href="#"><i class="fa-solid fa-list-check"></i> Meus Chamados</a>
    <a href="#"><i class="fa-solid fa-clock"></i> Pendentes</a>
    <a href="#"><i class="fa-solid fa-chart-line"></i> Relatórios</a>
    <a href="#"><i class="fa-solid fa-user"></i> Perfil</a>
    <a href="#"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
</nav>

</header>